#app1 {
  border: 1px solid red;
  height: 50vh;

  .output {
    margin-top: 10px;
    #number {
      padding-left: 10px;
    }
  }

  .actions {
    button {
      padding: 0 10px;
      margin: 10px;
    }
  }
}
